{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}
<style>
   .rightpic {
    float: right; /* Выравнивание по правому краю */
    margin: 0 0 5px 5px; /* Отступы вокруг фотографии */
   }
  </style>
<img src="{% static 'img/programmist.jpg' %}" width="40%" height="60%" class="rightpic" alt="красавчик">

<h1>Привет, я пожилой автор данной социальной сети, почти как Марк Цукерберг</h1>

<p>
  Меня зовут Алексей, мне 29 лет. Живу в городе Пожилойск.
  Закончил МГУ по кибербезопасности.
  Сейчас работаю в майкрософте, специалистом в области кибер безопасности.
</p><br>
<p> Лучшая соц сеть, создана мной</p><br><br><br>





{% endblock %}